<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/avatar.jpg" id="fotodeperfil">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Estudiante IT organizado, confiable y exitoso en la gestión de
                múltiples prioridades con una actitud positiva. Voluntad de asumir
                responsabilidades adicionales para cumplir con los objetivos del equipo, buena gestion del tiempo
                y resolución de problemas.
            </p>
        </span>
    </div>
</div>
