#logoAP{
    width: 150px;
}
img{
    width: 40px;
    margin-right: 8px;
}
.fondoredes{
<<<<<<< HEAD
    background-color: rgb(22, 22, 22);
=======
    background-color: rgb(25, 25, 25);
>>>>>>> 6d48d9cd62ad83a22e57cd7c8c33cdd779c26299
    border-radius: 80px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0.5em;
    align-items: center;
    
}
/* Para vista de celular */
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
}