<div class="row">
    <div class="container">
        <div class="logoAP">
            <a href="https://argentinaprograma.inti.gob.ar/" target="_BLANK"><img src="../../../assets/APLogo.png" id="logoAP"></a>
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/alvaro-deveze-3515bb228/" target="_BLANK"><img src="../../../assets/linkedin.png" id="linkedin" class="fondoredes"></a>
            <a href="https://github.com/alvarodvc" target="_BLANK"><img src="../../../assets/github.png" id="github" class="fondoredes"></a>
            <a href="https://www.instagram.com/alvarodvc/" target="_BLANK"><img src="../../../assets/instagram.png" id="instagram" class="fondoredes"></a>
            <a href="https://www.facebook.com/alvaro.deveze/" target="_BLANK"><img src="../../../assets/facebook.png" id="facebook" class="fondoredes"></a>
            <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
            <button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>